

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.center{
    text-align: center;
}

body{
    background-color:lightseagreen;
}

h2{
    font-size:40px;
    padding-top:30px;
    color:blueviolet
}

.form input{
    font-size:20px;
    width: 80px;
}

.para{
    width: 450px;
    padding-top:30px;
    margin-left:200px;
}

.form{
    padding-top: 30px;
    font-size:20px;
}

.btn{
    padding: 5px;;
}
